@import url('normalize.css');

@import url('https://fonts.googleapis.com/css?family=Oswald:700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

$bg-col: #262829;
$sep-col: #72d572;

$purple: hsla(302, 100%, 13%, 0.42);
$blue: hsla(194, 95%, 40%, 0.57);
$green: hsla(115, 95%, 40%, 0.57);

$breakpoint-one: 700px;
$breakpoint-two: 600px;
$breakpoint-three: 1300px;
$breakpoint-four: 900px;

$block-height: 230px;
$text-col: #fefefe;
$link-col: #3d863d;
$link-shadow: #3c6520;

* {
	box-sizing: border-box;
}

body {
	background-color: $bg-col;
}

.container {
	width: 100%;
	margin: 0 auto;
}

header {
	transition: 1s;
	
	margin: 0 0;
	margin-left: 10px;
	
	background-color: #111111;
	
	text-align: left;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 22px;
	
	@media only screen and (max-width: $breakpoint-one) {
		//font-size: 28px;
		//padding: 10px 10px;
	}
	
	a {
		transition: 0.2s;
		text-decoration: none;
		color: $text-col;
		&:visited {
			color: $text-col;
		}
		&:hover {
			color: $text-col;
			text-shadow: 1px 1px darken($text-col, 20%);;
		}
		&:active {
			color: darken($text-col, 20%);
		}
	}
	
	h1 {
		white-space: nowrap;
		
		transition: 0.5s;
		
		color: $text-col;

		margin: 0 0;
		width: 100%;
		
		@media only screen and (max-width: $breakpoint-one){
			//line-height: 72px;
		}
		
		span {
			transition: 1s;
			
			white-space: nowrap;
			font-size: 24px;
			
			@media only screen and (min-width: $breakpoint-four){
				//float: right;
				//margin-right: 70px;
			}
			//@media only screen and (max-width: $breakpoint-four){
				//font-size: 40px;
				margin-top: 0px;
				margin-bottom: 0px;
			//}
			
			margin-right: 15px;
			
			a {
				text-decoration: none;

				color: $sep-col;

				&:visited {
					color: $sep-col;
				}
				&:hover {
					text-shadow: 1px 1px $link-shadow;
				}
				&:active {
					color: darken($sep-col, 20%);
				}
			}
		}
	}
}

footer {	
	text-align: center;
	font-family: 'Lato', sans-serif;
	clear: both;
	color: $text-col;
	
	border-style: solid;
	border-width: 20px;
	border-top-color: #1a1c1c;
	border-bottom-color: $bg-col;
	border-left-color: $bg-col;
	border-right-color: $bg-col;
}

.separator {
	transition: 1s;
	
	width: 100%;
	display: inline-block;
	text-align: center;
	line-height: .5em;
	
	font-family: "Lato", sans-serif;
	font-size: 32px;
	font-weight: 900;
	
	text-shadow: 1px 1px 0px #8efc83;
	color: #477b42;
	
	background-color: $sep-col;
	
	border-style: solid;
	border-width: 20px;
	border-top-color: $sep-col;
	border-bottom-color: #7ff47f;
	border-left-color: $sep-col;
	border-right-color: $sep-col;
}

section {
	&.work {
		a {		
			transition: 1s;
			
			float: left;

			height: $block-height;
			
			@media only screen and (min-width: $breakpoint-three){
				height: $block-height*1.5;
			}

			p {
				transition: 1s;
				
				display: inline-block;
				font-family: 'Lato', sans-serif;
				font-weight: 900;
				color: $text-col;
				
				margin: 0;
				padding: 5px 30px 0px 10px; 
				height: 100%;
				
				@media only screen and (max-width: $breakpoint-two) {
					padding: 5px 0 0 10px;
					width: 130px;
				}
				
				@media only screen and (min-width: $breakpoint-three){
					padding-right: 100px;
				}
			}

			background-size: cover;
			background-position: center;
			
			&.framework {
				background-image: url('../images/IceEntityShowOff.png');

				width: 65%;
				
				@media only screen and (max-width: $breakpoint-two) {
					width: 100%;
				}
				@media only screen and (min-width: $breakpoint-two){
					min-width: 330px;
				}
				
				p {
					background-color: $purple;
					box-shadow: 1px 1px 10px $purple;
				}
			}
			
			&.uof {
				background-image: url('../images/Game.png');

				width: 35%;
				
				@media only screen and (max-width: $breakpoint-two) {
					width: 100%;
				}
				
				p {
					background-color: $blue;
					box-shadow: 1px 1px 10px $blue;
				}
			}

			&.game {
				background-image: url('../images/done.gif');

				width: 35%;
				
				@media only screen and (max-width: $breakpoint-two) {
					width: 100%;
				}
				
				p {
					background-color: $blue;
					box-shadow: 1px 1px 10px $blue;
				}
			}

			&.web {
				background-image: url('../images/Slickrock.png');

				width: 100%;
				
				p {
					background-color: $green;
					box-shadow: 1px 1px 10px $green;
				}
			}
			
			&.bz {
				background-image: url('../images/done.gif');

				width: 65%;
				
				@media only screen and (max-width: $breakpoint-two) {
					width: 100%;
				}
				@media only screen and (min-width: $breakpoint-two){
					min-width: 330px;
				}
				
				p {
					background-color: $purple;
					box-shadow: 1px 1px 10px $purple;
				}
			}
			
			&:hover {
				background-position: bottom;
			}
		}
	}
}