@import url("normalize.css");
@import url("https://fonts.googleapis.com/css?family=Oswald:700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,900");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #262829; }

.container {
  width: 100%;
  margin: 0 auto; }

header {
  -webkit-transition: 1s;
  transition: 1s;
  margin: 0 0;
  margin-left: 10px;
  background-color: #111111;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 22px; }
  header a {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    text-decoration: none;
    color: #fefefe; }
    header a:visited {
      color: #fefefe; }
    header a:hover {
      color: #fefefe;
      text-shadow: 1px 1px #cbcbcb; }
    header a:active {
      color: #cbcbcb; }
  header h1 {
    white-space: nowrap;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #fefefe;
    margin: 0 0;
    width: 100%; }
    header h1 span {
      -webkit-transition: 1s;
      transition: 1s;
      white-space: nowrap;
      font-size: 24px;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-right: 15px; }
      header h1 span a {
        text-decoration: none;
        color: #72d572; }
        header h1 span a:visited {
          color: #72d572; }
        header h1 span a:hover {
          text-shadow: 1px 1px #3c6520; }
        header h1 span a:active {
          color: #34ad34; }

footer {
  text-align: center;
  font-family: 'Lato', sans-serif;
  clear: both;
  color: #fefefe;
  border-style: solid;
  border-width: 20px;
  border-top-color: #1a1c1c;
  border-bottom-color: #262829;
  border-left-color: #262829;
  border-right-color: #262829; }

.separator {
  -webkit-transition: 1s;
  transition: 1s;
  width: 100%;
  display: inline-block;
  text-align: center;
  line-height: .5em;
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: 900;
  text-shadow: 1px 1px 0px #8efc83;
  color: #477b42;
  background-color: #72d572;
  border-style: solid;
  border-width: 20px;
  border-top-color: #72d572;
  border-bottom-color: #7ff47f;
  border-left-color: #72d572;
  border-right-color: #72d572; }

section.work a {
  -webkit-transition: 1s;
  transition: 1s;
  float: left;
  height: 230px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center; }
  @media only screen and (min-width: 1300px) {
    section.work a {
      height: 345px; } }
  section.work a p {
    -webkit-transition: 1s;
    transition: 1s;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #fefefe;
    margin: 0;
    padding: 5px 30px 0px 10px;
    height: 100%; }
    @media only screen and (max-width: 600px) {
      section.work a p {
        padding: 5px 0 0 10px;
        width: 130px; } }
    @media only screen and (min-width: 1300px) {
      section.work a p {
        padding-right: 100px; } }
  section.work a.framework {
    background-image: url("../images/IceEntityShowOff.png");
    width: 65%; }
    @media only screen and (max-width: 600px) {
      section.work a.framework {
        width: 100%; } }
    @media only screen and (min-width: 600px) {
      section.work a.framework {
        min-width: 330px; } }
    section.work a.framework p {
      background-color: rgba(66, 0, 64, 0.42);
      -webkit-box-shadow: 1px 1px 10px rgba(66, 0, 64, 0.42);
      box-shadow: 1px 1px 10px rgba(66, 0, 64, 0.42); }
  section.work a.uof {
    background-image: url("../images/Game.png");
    width: 35%; }
    @media only screen and (max-width: 600px) {
      section.work a.uof {
        width: 100%; } }
    section.work a.uof p {
      background-color: rgba(5, 154, 199, 0.57);
      -webkit-box-shadow: 1px 1px 10px rgba(5, 154, 199, 0.57);
      box-shadow: 1px 1px 10px rgba(5, 154, 199, 0.57); }
  section.work a.game {
    background-image: url("../images/done.gif");
    width: 35%; }
    @media only screen and (max-width: 600px) {
      section.work a.game {
        width: 100%; } }
    section.work a.game p {
      background-color: rgba(5, 154, 199, 0.57);
      -webkit-box-shadow: 1px 1px 10px rgba(5, 154, 199, 0.57);
      box-shadow: 1px 1px 10px rgba(5, 154, 199, 0.57); }
  section.work a.web {
    background-image: url("../images/Slickrock.png");
    width: 100%; }
    section.work a.web p {
      background-color: rgba(21, 199, 5, 0.57);
      -webkit-box-shadow: 1px 1px 10px rgba(21, 199, 5, 0.57);
      box-shadow: 1px 1px 10px rgba(21, 199, 5, 0.57); }
  section.work a.bz {
    background-image: url("../images/done.gif");
    width: 65%; }
    @media only screen and (max-width: 600px) {
      section.work a.bz {
        width: 100%; } }
    @media only screen and (min-width: 600px) {
      section.work a.bz {
        min-width: 330px; } }
    section.work a.bz p {
      background-color: rgba(66, 0, 64, 0.42);
      -webkit-box-shadow: 1px 1px 10px rgba(66, 0, 64, 0.42);
      box-shadow: 1px 1px 10px rgba(66, 0, 64, 0.42); }
  section.work a:hover {
    background-position: bottom; }
