.mainview {
	cursor: none;
}

.imgzoomfull {
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: contain;
}

.imgzoomfullin {
	background-size: auto;
}

.zoomoverlay {
	display: none;
	cursor: none;
	pointer-events: none;
	position: absolute;
	border-radius: 10%;
	border-top-left-radius: 0%;
	border: 4px #eeeeee solid;
	box-shadow: 2px 2px 5px #555555;
	margin: none;
	padding: none;
	background-color: #ffffff;
	background-repeat: no-repeat;
}
