.mainview {
	cursor: none;
}

.zoomoverlay {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 10%;
	border-top-left-radius: 0%;
	border: 4px #eeeeee solid;
	box-shadow: 2px 2px 5px #555555;
	pointer-events: none;
	margin: none;
	padding: none;
}
