.imgzoomcontainer {
	position: relative;
	overflow: hidden;
}

.mainviewglass {
	cursor: none;
	width: 100%;
}

.mainviewpane {
	width: 100%;
}

.imgzoomfull {
	position: absolute;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

.imgzoomfullin {
	background-size: 20000px auto;
}

.zoomoverlayglass {
	display: none;
	cursor: none;
	pointer-events: none;
	position: absolute;
	border-radius: 100%;
	border: 4px #eeeeee solid;
	box-shadow: 2px 2px 5px #555555;
	margin: none;
	padding: none;
	background-color: #ffffff;
	overflow: hidden;
	z-index: 100;
}

.zoomoverlaypane {
	display: none;
	border: 4px #eeeeee solid;
	box-shadow: 2px 2px 5px #555555;
	margin: none;
	padding: none;
	background-color: #ffffff;
	z-index: 100;
	overflow: hidden;
	position: relative;
}

.zoomoverlaywindow {
	display: none;
	position: absolute;
	border: 1px #eeeeee solid;
	box-shadow: 2px 2px 5px #555555;
	pointer-events: none;
	z-index: 100;
}
