@import url('normalize.css');

@import url(http://fonts.googleapis.com/css?family=Oswald:700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

$bg-col: #262829;
$sep-col: #72d572;

$purple: hsla(302, 100%, 13%, 0.42);
$blue: hsla(194, 95%, 40%, 0.57);
$green: hsla(115, 95%, 40%, 0.57);

$breakpoint-one: 700px;
$breakpoint-two: 600px;
$breakpoint-three: 1300px;

$block-height: 230px;
$text-col: #fefefe;

* {
	box-sizing: border-box;
}

body {
	background-color: $bg-col;
}

.container {
	width: 100%;
	margin: 0 auto;
}

header {
	transition: 1s;
	
	margin: 0 0;
	
	background-color: #111111;
	
	text-align: center;
	font-family: "Oswald" sans-serif;
	font-weight: 700;
	font-size: 72px;
	
	@media only screen and (max-width: $breakpoint-one) {
		font-size: 32px;
	}
	
	h1 {
		color: $text-col;
		margin: 0;
		
		span {
			@media only screen and (min-width: $breakpoint-one){
				float: right;
			}
			margin-right: 15px;
			a {
			text-decoration: none;

			color: $text-col;

			&:visited {
				color: $text-col;
			}
			&:hover {
				text-shadow: 3px 3px #9f9f9f;
			}
		}
	}
	}
}

footer {
	text-align: center;
	font-family: "Lato" sans-serif;
	clear: both;
	color: $text-col;
	
	border-style: solid;
	border-width: 20px;
	border-top-color: #1a1c1c;
	border-bottom-color: $bg-col;
	border-left-color: $bg-col;
	border-right-color: $bg-col;
}

.separator {
	width: 100%;
	display: inline-block;
	text-align: center;
	
	font-family: "Lato";
	font-size: 32px;
	font-weight: 900;
	
	text-shadow: 1px 1px 0px #8efc83;
	color: #477b42;
	
	background-color: $sep-col;
	
	border-style: solid;
	border-width: 20px;
	border-top-color: $sep-col;
	border-bottom-color: #7ff47f;
	border-left-color: $sep-col;
	border-right-color: $sep-col;
}

section {
	&.work {
		a {		
			transition: 1s;
			
			float: left;

			height: $block-height;
			
			@media only screen and (min-width: $breakpoint-three){
				height: $block-height*1.5;
			}

			p {
				transition: 1s;
				
				display: inline-block;
				font-family: 'Lato', sans-serif;
				font-weight: 900;
				color: $text-col;
				
				margin: 0;
				padding: 5px 30px 0px 10px; 
				height: 100%;
				
				@media only screen and (max-width: $breakpoint-two) {
					padding: 5px 0 0 10px;
					width: 130px;
				}
				
				@media only screen and (min-width: $breakpoint-three){
					padding-right: 100px;
				}
			}

			background-size: cover;
			background-position: center;
			
			&.framework {
				background-image: url('../images/IceEntityShowOff.png');

				width: 65%;
				min-width: 330px;
				
				@media only screen and (max-width: $breakpoint-two) {
					width: 100%;
				}
				
				p {
					background-color: $purple;
					box-shadow: 1px 1px 10px $purple;
				}
			}

			&.game {
				background-image: url('../images/Game.png');

				width: 35%;
				
				@media only screen and (max-width: $breakpoint-two) {
					width: 100%;
				}
				
				p {
					background-color: $blue;
					box-shadow: 1px 1px 10px $blue;
				}
			}

			&.web {
				background-image: url('../images/Slickrock.png');

				width: 100%;
				
				p {
					background-color: $green;
					box-shadow: 1px 1px 10px $green;
				}
			}
			
			&:hover {
				background-position: bottom;
			}
		}
	}
}