<div class="details">
	<div class="maininfo">
		<div>
			<label>First Name <input type="text" ng-model="details.editingTeacher.firstName"</label>
		</div>
		<div>
			<label>Last Name <input type="text" ng-model="details.editingTeacher.lastName"</label>
		</div>
		<div>
			<label>Email <input type="email" ng-model="details.editingTeacher.email"</label>
		</div>
	</div>
	<div class="secondaryinfo">
	</div>
	<div class="tertiaryinfo">
	</div>
	<button ng-click="details.updateTeacher()">Update</button>
</div>
