<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</head>
	<body ng-app="sheets" ng-controller="sheets as sheets">
		<input type="text" ng-model="sheets.search" ng-if="sheets.teachers.length > 0"/>
		<googlelogin></googlelogin>
		<button ng-click="sheets.pickSheet()" ng-if="sheets.teachers.length > 0">Change Sheet.</button>
		<table>
			<tr ng-repeat="teacher in sheets.teachers | filter:sheets.search track by $index">
				<td>
					{{teacher.firstName}}
				</td>
				<td>
					{{teacher.lastName}}
				</td>
				<td>
					<a href="mailto:{{teacher.email}}">{{teacher.email}}</a>
				</td>
			</tr>
		</table>
	</body>
</html>
