<div class="mainlist">
	<img src="logo.jpg" width="100px" class="logo"/>
	<div class="topbarmain">
		<div style="font-weight: bold; font-size: 150%">
			BCTEA Member Search
		</div>
		<div class='loading' ng-if="sheets.teachers.length == 0"></div>
		<googlelogin></googlelogin>
		<button ng-click="sheets.pickSheet()" ng-if="true" class="btn btn-success mainbtn">Change Sheet.</button>
		<button ng-click="sheets.signOut()" ng-if="sheets.teachers.length > 0" class="btn btn-danger mainbtn">Sign Out.</button>
		<button ng-click="sheets.addTeacher()" class="btn btn-primary mainbtn">Add Member</button>
		<button ng-click="sheets.makeCSV()" class="btn btn-info" ng-show="sheets.csv == null">Make CSV From Search</button>
		<button ng-click="sheets.csv = null" class="btn btn-info" ng-show="sheets.csv != null">Hide CSV</button>
		<textarea class="idlist" ng-show="sheets.csv != null">{{sheets.csv}}</textarea>
		<div style="margin-top: 10px">
			<input type="text" ng-model="sheets.search" ng-if="sheets.teachers.length > 0" ng-blur="sheets.updateSearchPath()" placeholder="search" class="mainsearch"/>
			<select ng-model="sortBy" ng-change="sheets.orderBy(sortBy)">
				<option value="firstName">
					First Name
				</option>
				<option value="lastName">
					Last Name
				</option>
				<option value="school">
					school
				</option>
				<option value="district">
					District
				</option>
			</select>
		</div>
	</div>
	<table>
		<tr ng-repeat="teacher in sheets.teachers | teachersearch:sheets.search | orderBy:sheets.getOrder() track by $index" class="info">
			<td ng-click="sheets.selectTeacher(teacher, $index)">
				{{teacher.firstName}}
			</td>
			<td ng-click="sheets.selectTeacher(teacher, $index)">
				{{teacher.lastName}}
			</td>
			<td class="finalrow" ng-click="sheets.selectTeacher(teacher, $index)">
				{{teacher.school}}
			</td>
			<td class="finalrow" ng-click="sheets.selectTeacher(teacher, $index)">
				{{teacher.district}}
			</td>
		</tr>
	</table>
	<div style="margin-top: 10px">
		<button ng-show="ids == null" ng-click="ids = sheets.generateIds()" class="btn btn-primary mainbtn">Generate IDs</button>
		<button ng-show="ids != null" ng-click="ids = null" class="btn btn-primary mainbtn">Hide IDs</button>
		<textarea class="idlist" ng-show="ids != null">{{ids}}</textarea>
	</div>
</div>
