.loading {
	width: 50px;
	height: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 20%;
	background-color: #eeeeee;
	animation: spin 4s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg) scale(1);
	}
	to {
		transform: rotate(360deg) scale(2);
	}
}
