.loading {
	width: 50px;
	height: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 20%;
	background-color: #eeeeee;
	animation: spin 4s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg) scale(1);
	}
	50% {
		transform: rotate(180deg) scale(2);
	}
	100% {
		transform: rotate(360deg) scale(1);
	}
}

.ng-invalid {
	border-color: #FF0000;
}

.info {
	cursor: pointer;
}

.changed {
	border: 1px solid #00FF00;
}
