<div class="details">
	<div style="text-align: center">
		<img src="logo.jpg" width="100px" class="logo" ng-click="details.returnToMain()"/>
	</div>
	<div class="topbar">
		<div class="info topbar">
			<label class="topbar">Search Criteria <input type="text" class="topbar" ng-class="{invalid: !details.foundSearch}" ng-blur="details.updateSearchPath()" ng-model="details.data.searchCriteria"</label>
		</div>
	</div>
	<div ng-click="details.switchTo()" class="name" ng-class="{namelink: details.data.searchCriteria}">
		{{details.currentTeacher.firstName}} {{details.currentTeacher.lastName}}
	</div>
	<div style="text-align: center">
		<a href="mailto:{{details.currentTeacher.email}}">{{details.currentTeacher.email}}</a>
	</div>
	<div class="nav bottom">
		<input type="button" value="Previous" class="btn btn-info" ng-click="details.previousRecord()" ng-show="details.recordNumber > 0 && details.recordNumberTotal > 0"/>
		<span ng-if="details.recordNumberTotal > 0">Record Number {{details.recordNumber+1}} of {{details.recordNumberTotal}}</span>
		<span ng-if="!details.foundSearch">No Matching Records</span>
		<input type="button" value="Next" class="btn btn-info" ng-click="details.nextRecord()" ng-show="details.recordNumber < details.recordNumberTotal - 1 && details.recordNumberTotal > 0"/>
	</div>
	<div class="maininfo" ng-if="details.recordNumberTotal > 0">
		<div class="info primary">
			<label>First Name <input type="text" ng-model="details.editingTeacher.firstName" /></label>
		</div>
		<div class="info primary">
			<label>Last Name <input type="text" ng-model="details.editingTeacher.lastName" /></label>
		</div>
		<div class="info primary">
			<label>School Email <input type="email" ng-model="details.editingTeacher.email" /></label>
		</div>
		<div class="info primary">
			<label>School District <input type="text" ng-model="details.editingTeacher.district" /></label>
		</div>
		<div class="info primary">
			<label>School <input type="text" ng-model="details.editingTeacher.school" /></label>
		</div>
		<div class="info primary">
			<label>Courses Taught <textarea ng-model="details.editingTeacher.courses"></textarea></label>
		</div>
		<div class="info primary" style="text-align: center">
			<label style="display: inline">ACE-It <input type="checkbox" ng-model="details.editingTeacher.aceIt" /></label>
			<label style="display: inline">Teaching Academics <input type="checkbox" ng-model="details.editingTeacher.academics" /></label>
			<label style="display: inline">Makerspace <input type="checkbox" ng-model="details.editingTeacher.maker" /></label>
		</div>
	</div>
	<div class="secondaryinfo" ng-if="details.recordNumberTotal > 0">
		<div class="info secondary">
			<label style="display: inline">Facebook <input type="checkbox" ng-model="details.editingTeacher.facebook" /></label>
			<label class="splitline">Facebook Alias <input style="display: inline-block; float:none" type="text" ng-model="details.editingTeacher.facebookAlias"/></label>
		</div>
		<div class="info secondary">
			<label>Personal Email <input type="email" ng-model="details.editingTeacher.emailSecondary" /></label>
		</div>
		<div class="info secondary">
			<label style="display: inline">Emailed <input class="datebox" style="display: inline-block; float: none" type="date" ng-model="details.editingTeacher.emailed" /></label>
			<label class="splitline">Responded <input type="checkbox" ng-model="details.editingTeacher.responded" /></label>
		</div>
		<div class="info secondary">
			<label style="display: inline">PSA Member <input type="checkbox" ng-model="details.editingTeacher.psa" /></label>
			<label class="splitline">Membership Expires <input style="display: inline-block; float: none" type="date" ng-model="details.editingTeacher.psaExpires" ng-class="{invalid: details.editingTeacher.expired}"/></label>
		</div>
		<div class="info secondary">
			<label>Started Teaching <input type="date" ng-model="details.editingTeacher.startedTeaching" /></label>
		</div>
	</div>
	<div class="tertiaryinfo" ng-if="details.recordNumberTotal > 0">
		<div class="info tertiary">
			<label style="display: inline">LSA/Dist Rep/Pres <input type="checkbox" ng-model="details.editingTeacher.representative" /></label>
			<label style="display: inline-block; float: right; width: auto">BCTEA Exec <input style="display: inline-block; float: none" type="checkbox" ng-model="details.editingTeacher.executive" /></label>
		</div>
		<div class="info tertiary">
			<label>Conferences Attended <textarea ng-model="details.editingTeacher.conferences"></textarea></label>
		</div>
		<div class="info tertiary inline">
			<label class="datebox">Retired <input type="checkbox" ng-model="details.editingTeacher.retired" /></label>
			<input class="datebox" type="date" ng-model="details.editingTeacher.retiredYear" />
		</div>
		<div class="info tertiary inline" ng-if="details.showOnLeave">
			<label class="datebox">On Leave <input type="checkbox" ng-model="details.editingTeacher.leave" /></label>
			<input class="datebox" type="date" ng-model="details.editingTeacher.leaveYear" />
		</div>
		<div class="info tertiary">
			<label>Comments <textarea ng-model="details.editingTeacher.comments"></textarea></label>
		</div>
		<div class="info tertiary">
			<label>Last Updated <input type="date" disabled="true" ng-model="details.editingTeacher.lastUpdated" /></label>
		</div>
	</div>
	<div class="maintinence" ng-if="details.recordNumberTotal > 0">
		<button ng-click="details.updateTeacher()" class="btn btn-success" ng-disabled="!details.changed()">Update</button>
		<button ng-click="details.addTeacher()" class="btn btn-primary">Add Member</button>
		<button ng-click="details.promptRemoveTeacher()" class="btn btn-danger">Remove Member</button>
	</div>
	<div class="returndiv">
		<button class="btn btn-info return" ng-click="details.returnToMain()">Return</button>
	</div>
</div>
